logging:
  level:
    org:
      springframework:
        transaction: INFO
        transaction.interceptor: TRACE
      orm:
        jpa: INFO
        jpa.JpaTransactionManager: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jakarta.persistence.validation.mode: none
        types:
          spatial:
            enabled: true
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/agro_plan}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  sql:
    init:
      mode: always